<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<table>
  <thead>
  <tr>
    <th> ID </th>
    <th> Name </th>
    <th> Age </th>
  </tr>
  </thead>

  <tbody>
  <tr th:each="user : ${users}">
    <td><span th:text=" ${user.getId()} "></span></td>
    <td><a th:href="@{/admin/edit(id=${user.getId()})}" th:text=" ${user.getUsername()} "></a></td>
    <td><span th:text=" ${user.getAge()} "></span></td>
  </tr>
  </tbody>
</table>
<br/>
<hr/>
<a href="/admin/create">Create new user</a><br/>
<div th:insert="~{logoutFragment :: header}"></div>
</body>