<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getUsername()}">User</title>
</head>
<body>
<br/>
<table>
    <thead>
    <tr>
        <th>Welcome, <label th:text="${user.getUsername()}"></label></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td>Your ID:</td>
        <td><label th:text=" ${user.getId()} "></label></td>
    </tr>
    <tr>
        <td>Your age:</td>
        <td><label th:text=" ${user.getAge()} "></label></td>
    </tr>
    <tr th:each="role : ${user.getRoles()}">
        <td>Your roles:</td>
        <td><label th:text=" ${role.getName()} "></label></td>
    </tr>
    </tbody>
</table>
<a th:href="@{/admin/users}">Open Users list</a><br>

<div th:insert="~{logoutFragment :: header}"></div>
</body>
</html>